body, * {
	font-size: 14px;
	font-family: 'Metal Mania', cursive;
/*font-family: 'Nobile', arial, serif;*/
}

.card {
	margin:1px; 
	padding: 3px;
	float:left;
	width: 140px;
	height: 240px;
	border: 1px solid black;
}
.key {
	font-size: 30px;
	font-weight: bold;
}
.name {
	padding: 0 10px;
	text-align: center;
	width: 60%;
	font-size: 22px;	
}
.rotate {
	text-transform: rotate(180deg); 
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.right {
	float: right;
}
.left {
	float: left;
}
.toprow {
	float: left;
	width: 100%;
}
.bottomrow {
	margin-top: 10px;
	float: left;
	width: 100%;
}
.monstertable {
	border: 1px solid black;
	margin-left: 10px;
}
