body, * {
	font-size: 14px;
	font-family: 'Nobile', arial, serif;
}

.card {
	margin:1px; 
	padding: 3px;
	float:left;
	width: 160px;
	height: 280px;
	border: 1px solid black;
}
.key {
	font-size: 30px;
	font-weight: bold;
}
.name {
	padding: 0 15px;
	text-align: center;
	width: 60%;
	font-size: 24px;
	
}
.rotate {
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.right {
	float: right;
}
.toprow {
	float: left;
	width: 100%;
}
.bottomrow {
	margin-top: 20px;
	float: left;
	width: 100%;
}
.monstertable {
	border: 1px solid black;
	margin-left: 10px;
}
